<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://www.springframework.org/schema/beans"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:aop="http://www.springframework.org/schema/aop"
	xmlns:tx="http://www.springframework.org/schema/tx"
	xsi:schemaLocation="
	http://www.springframework.org/schema/beans 
	http://www.springframework.org/schema/beans/spring-beans-4.2.xsd 
	http://www.springframework.org/schema/context 
	http://www.springframework.org/schema/context/spring-context-4.2.xsd 
	http://www.springframework.org/schema/aop 
	http://www.springframework.org/schema/aop/spring-aop-4.2.xsd 
	http://www.springframework.org/schema/tx 
	http://www.springframework.org/schema/tx/spring-tx.xsd">
	
	<!-- 1. 配置读取jdbc.properties文件 -->
	<context:property-placeholder location="classpath:transaction_proxy/jdbc.properties"/>
	<!-- 2. 配置C3P0连接池 -->
	<bean name="myC3P0DataSource" class="com.mchange.v2.c3p0.ComboPooledDataSource" >
		<property name="jdbcUrl" value="${jdbc.jdbcUrl}" ></property>
		<property name="driverClass" value="${jdbc.driverClass}" ></property>
		<property name="user" value="${jdbc.user}" ></property>
		<property name="password" value="${jdbc.password}" ></property>
	</bean>
	<!-- 3. 注入DAO，会自动注入jdbctemplate对象 -->
	<bean id="myaDao" class="transaction_proxy.AccountDaoImpl">
		<property name="dataSource" ref="myC3P0DataSource"></property>
	</bean>
	<bean id="mysDao" class="transaction_proxy.StockDaoImpl">
		<property name="dataSource" ref="myC3P0DataSource"></property>
	</bean>
	<!-- 4. 配置Service -->
	<bean id="myService" class="transaction_proxy.StockProcessServiceImpl">
		<property name="adao" ref="myaDao"></property>
		<property name="sdao" ref="mysDao"></property>
	</bean>
	<!-- 使用Spring代理工厂实现事务管理 -->
	<!-- 5. 配置事务管理器 -->
	<!-- 用的JDBC进行持久化，所以使用DataSourceTransactionManager作为事务管理器 -->
	<bean id="transactionManager" class="org.springframework.jdbc.datasource.DataSourceTransactionManager">
		<property name="dataSource" ref="myC3P0DataSource"></property>
	</bean>
	<!-- 6. 添加事务代理 -->
	<bean id="myServiceProxy" class="org.springframework.transaction.interceptor.TransactionProxyFactoryBean">
		<property name="transactionManager" ref="transactionManager" />
		<property name="target" ref="myService" />
		<property name="transactionAttributes">
			<props>
				<prop key="open*">PROPAGATION_REQUIRED</prop>
				<prop key="find*">PROPAGATION_SUPPORTS,readOnly</prop>
				<!-- 
				-异常 表示：发生指定异常就回滚
				+异常 表示：发生指定异常提交 
				-->
				<prop key="buyStock">PROPAGATION_REQUIRED,-StockException</prop>
			</props>
		</property>
	</bean>
</beans>